<table class="table">
  <tr>
    <td class="bg-success">ID</td>
    <td class="table-light"> {{comic.id}}</td>
  </tr>

  <tr>
    <td class="bg-success">TITULO</td>
    <td class="table-light"> {{comic.titulo}}</td>
  </tr>
  <tr>
    <td class="bg-success">DESCRIPCÓN</td>
    <td class="table-light"> {{comic.desc}}</td>
  </tr>
  <tr>
    <td class="bg-success">ISBN</td>
    <td class="table-light"> {{comic.isbn}}</td>
  </tr>

  <tr>
    <td class="bg-success">PÁGINA</td>
    <td class="table-light"> {{comic.pagina}}</td>
  </tr>

  <tr>
    <td class="bg-success">COLOR</td>
    <td class="table-light"> {{comic.color}}</td>
  </tr>

  <tr>
    <td class="bg-success">EXISTENCIAS</td>
    <td class="table-light"> {{comic.existencias }}</td>
  </tr>
  <tr>
    <td class="bg-success">PRECIO</td>
    <td class="table-light"> {{comic.precio }}</td>
  </tr>

  <tr>
    <td class="bg-success">DESCUENTO</td>
    <td class="table-light"> {{comic.descuento }}</td>
  </tr>
  <tr>
    <td class="bg-success">FOTO</td>
    <td class="table-light"> {{comic.foto }}</td>
  </tr>

  <tr>
    <td class="bg-success">COLECCIÓN</td>
    <td class="table-light"> {{comicColeccion.desc }}</td>
  </tr>
</table>

<button class="btn btn-primary" (click)="atras()">Atras</button>