<div id="footer" class="bg-dark">
  <div class="contiene">
      <div class="home">
          <div class="footertitle">OnComics</div>
          <div class="iconos">
              <i class="fa fa-home"></i>
              <i class="fa fa-user"></i>
              <i class="fa fa-map-marker"></i>
              <i class="fa fa-briefcase"></i>
              <i class="fa fa-question-circle"></i>
          </div>

          <div class="enlaces">
              <a href="#"> Home</a>
              <a href="#"> About Us</a>
              <a href="#">Contact Us</a>
              <a href="#"> Services</a>
              <a href="#">Term & Conditions</a>
          </div>
      </div>


      <div class="contact">
          <div class="footertitle">Contáctanos</div>
          <div class="iconos">
              <i class="fa fa-phone"></i>
              <i class="fa fa-envelope"></i>
              <i class="fa fa-map-marker"></i>
          </div>

          <div class="enlaces">
              <a href="tel:0123456789"> +0123456789</a>
              <a href="mailto:abc@abc.com"> abc@abc.com</a>
              <a href="#"> Velencia</a>
          </div>
      </div>
  </div>
</div>